.list-product-container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .product-li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  
  img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: aliceblue;
  }

  h3>a{
    color: aliceblue;
    text-decoration: none;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  